@font-face {
    font-family: 'W95FA';
    src: url('W95FARegular.woff2') format('woff2'),
        url('W95FARegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

