@import url("fonts/stylesheet.css");

:root {
  --win95-font:
    "W95FA", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  --window-light: rgb(192, 192, 192);
  
  --title-bar-active: linear-gradient(
    to right,
    rgb(1, 0, 127),
    rgb(0, 0, 182)
  );
  --title-bar-inactive: linear-gradient(
    to right,
    rgb(128, 128, 128),
    rgb(163, 163, 163)
  );

  --inner-bevel1: inset 1px 1px 0 black, inset -1px -1px 0 rgb(231, 231, 231);
  --inner-bevel2: inset 1px 1px 0 black, inset -1px -1px 0 rgb(231, 231, 231);
  --outer-bevel1: inset 1px 1px 0 white, inset -1px -1px 0 #8e8e8e;
  --outer-bevel2: inset 1px 1px 0 white, inset -1px -1px 0 #8e8e8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  font-family: var(--win95-font);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(0, 128, 129);
}

input:focus {
  outline: none;
}

/* ========== WINDOW BASE STYLES ========== */
/* -- main window */
.window {
  position: absolute;
  font-size: 14px;
  background: var(--window-light);
  box-shadow:
    inset 1px 1px 0 white,
    inset -1px -1px 0 #8e8e8e;
  border: 1px solid var(--window-light);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 4px;
}

.window-content {
  height: 100%;
  width: 100%;
  padding: 20px 15px;
}

/* -- title bar */
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  background: var(--title-bar-inactive);
  overflow: hidden;
  user-select: none;
}

.title-bar.active {
  background: var(--title-bar-active);
}

.title-bar div {
  display: flex;
  align-items: center;
}

.title-bar p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.title-bar img {
  height: 35px;
  width: 25px;
  margin: 2px;
  object-fit: cover;
}

/* -- minimize, maximize, close buttons */
.window-buttons {
  margin-right: 3px;
  gap: 1px;
}

.window-buttons button {
  height: 18px;
  width: 20px;
}

.window-buttons button img {
  image-rendering: pixelated;
  height: 15px;
  width: 15px;
}

/* --- ribbon menu */
.ribbon {
  position: relative;
  display: flex;
  gap: 15px;
  padding: 6px 5px;
  user-select: none;
}

.ribbon span {
  text-decoration: underline;
}

.ribbon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: rgb(140, 140, 140);
  box-shadow: 0 1px 0 rgb(231, 231, 231);
}

.divider {
  height: 1px;
  background-color: rgb(140, 140, 140);
  visibility: hidden;
}

/* ========== DESKTOP ========== */
/* --- taskbar */
.taskbar {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  position: absolute;
  right: 0; 
  bottom: 0; 
  left: 0;
  height: 35px;
  background-color: var(--window-light);
  border-top: 1px solid rgb(241, 241, 241);
}

.taskbar > div {
  display: flex;
}

.start-btn {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 8px;
}

.start-btn img {
  height: 15px;
  margin-right: 3px;
}

.sys-side {
  padding: 8px;
  align-items: center;
  box-shadow: var(--inner-bevel2);
}

.start-side > * {
  position: relative;
  display: flex;
}

.start-side > :not(:last-child):has(> *)::after {
  content: "";
  position: absolute;
  right: -5px;
  height: 100%;
  width: 1px;
  background: #8e8e8e;
  box-shadow: 1px 0 0 rgb(241, 241, 241);
}
