@import url("fonts/stylesheet.css");

:root {
  --win95-font:
    "W95FA", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  --window-light: rgb(192, 192, 192);
  
  --accent-blue: rgb(1, 0, 127);
  --title-bar-active: linear-gradient(to right, rgb(1, 0, 127), rgb(0, 0, 182));
  --title-bar-inactive: linear-gradient(to right, rgb(128, 128, 128), rgb(163, 163, 163));

  --window-outer-bevel: var(--window-light) black black var(--window-light);
  --inner-bevel1: inset 1px 1px 0 black, inset -1px -1px 0 rgb(231, 231, 231);
  --inner-bevel2: inset 2px 2px 0 black, inset -2px -2px 0 rgb(231, 231, 231);
  --outer-bevel1: inset 1px 1px 0 white, inset -1px -1px 0 rgb(142, 142, 142);
  --outer-bevel2: inset 2px 2px 0 white, inset -2px -2px 0 rgb(142, 142, 142);

  --taskbar-height: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  font-size: 16px;
  font-family: var(--win95-font);
  background: rgb(0, 128, 129);
}

input:focus {
  outline: none;
}


