/* ========== COMPONENTS ========== */
/* --- input styles */
.winput {
  font-family: var(--win95-font);
  font-size: 14px;
  letter-spacing: 2px;
  box-shadow: var(--inner-bevel2);
  padding: 5px;
  border: none;
}

/* --- primary button styles */
button.primary {
  font-family: var(--win95-font);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  background: var(--window-light);
  box-shadow: var(--outer-bevel2);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

button.primary:hover {
  background: rgb(205, 209, 210);
}

button.primary:active {
  background: rgb(165, 170, 171);
  box-shadow: var(--inner-bevel2);
  border: none;
}