/* ========== CALCULATOR APP ========== */
.cal-window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
}

.window-content.cal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.window-content.cal .winput {
  height: 30px;
  width: 100%;
  text-align: right;
}

.window-content.cal button {
  font-size: 14px;
  font-weight: bold;
}

.memory-box {
  box-shadow: var(--inner-bevel2);
}

.memory-box,
.bottom-row button {
  height: 27px;
  width: 40px;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.window-content.cal .actions {
  display: flex;
  gap: 5px;
}

.actions button {
  color: brown;
  width: 60px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.opr {
  color: rgb(190, 17, 17);
}

.numpad button {
  color: rgb(31, 24, 165);
}

.operations button,
.action-btns button:last-child {
  color: rgb(192, 24, 21);
}

.action-btns button {
  color: rgb(41, 44, 92);
}

.memory-btns {
  display: flex;
  flex-direction: column;
}

.memory-btns {
  column-gap: 5px;
  row-gap: 8px;
}

.numpad-btns {
  display: flex;
  column-gap: 5px;
}

.numpad,
.operations,
.action-btns {
  display: grid;
  column-gap: 5px;
  row-gap: 8px;
}

.numpad {
  grid-template-columns: repeat(3, 1fr);
} 



/* .numpad {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
} */

/* etc */

.start-brand {
  position: absolute;
  bottom: 50px;
  left: -42px;
  rotate: -90deg;
  height: 23px;
  padding: 0;
  margin: 0;
}

.pixel {
  image-rendering: pixelated;
}

.chevron {
  position: absolute;
  right: 3px;
  opacity: 0;
}

.start-entry:hover .chevron {
  filter: invert(1);
}

.start-entry[data-type="folder"] .chevron {
  opacity: 1;
}

.start-content > :not(:last-child):has(> *)::after{
  content: '';
  position: absolute;
  left: 3px;
  right: 3px;
  bottom: -5px;
  height: 2px;
  background: #8e8e8e;
  box-shadow: 0 2px 0 rgb(241, 241, 241);
}

.start-content > div {
  position: relative;
}

.start-content > :not(:last-child):has(> *) {
  margin-bottom: 10px;
}

.cascading-menu {
  position: absolute;
  min-width: 150px;
  padding: 3px;
  background: var(--window-light);
  box-shadow: var(--outer-bevel2);
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--window-outer-bevel);
}